#head{
	font-size:50px;
	color:red;
	text-align:center;
}
#main{
	font-size:20px;
	color:blue;
	text-align: center;
}
#error{
	color:red;
}
*::-webkit-input-placeholder {
    color: lightblue;
}



html{
  background:-webkit-linear-gradient(green,lightgreen);
}
.hidden{
	display:none;
}
.unhide{
	display:block;
}
nav{
	text-align: center;
}
button{
	font-size: 40px;
	border-radius: 5px;
}

input{
	text-align: center;
}
textarea{
	background-image: url("img/hi.jpg");
	text-align: center;
}
section.about{
color:white ;
font-family: 'Open Sans Condensed', sans-serif;


}
section.pandas{
	color:black ;
font-family: 'Sumana', serif;
	}
section.dogs{
	color:brown  ;
font-family: 'Saira Semi Condensed', sans-serif;
}

p{font-size:30px;}

#second{
	text-align: center;
}

h1{
	text-align: center;
}





body{
  margin:0;
  padding:0;
}


.pic{
    position:relative;
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#firstfood{
position:relative;
  background-image: url("img/chicken.jpg");
}

#thirdfood{
  position:relative;
  background-image:url("img/ck.jpg");
}
#friedchicken{
  color:gold;
}

#chocolatebis{
  color:chocolate;
}
h2{
  color:white;
  position:absolute;
  top:250px;
  text-align: center;
  width:100%;
}

.description{
  font-size:20px;
  margin: 100px;
}